:root {
  --auxiliary-color: #FFFFFF;
  --danger-color: #b81a1a;
  --primary-color: #7d1e0a;
  --success-color: #1ab83f;
  --attention-color: #7d1e0a;
  --warning-color: #dfd10d;
  --dark-color: #58595B;
}

body {
  font-family: "Poppins", sans-serif !important;
}

label {
  color: var(--dark-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,

h5,
h6,
.destaqueText {
  color: var(--dark-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

h4 {
  color: var(--primary-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}
.panel_banner {
  background-color: var(--auxiliary-color) !important;
  ;
}

.css_header_img {
  display: flex;
  align-items: center; 
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

.css_header_text {
  margin-left: 10px !important;
  position: relative !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 24px !important;
  background-color: var(--attention-color) !important;
  color: var(--auxiliary-color) !important;
  border-bottom: 2px solid var(--attention-color) !important;
  font-weight: normal !important;
  padding: 8px !important;
  white-space: nowrap;
}

.widthFull {
  width: 100%;
}

.form-spacing {
  margin-bottom: 20px;
}

.input-spacing {
  margin-bottom: 10px;
}

.form-spacing-bank {
  margin-top: 90px;
  margin-bottom: 20px;
  padding-left: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.card-title-custom {
  background-color: var(--auxiliary-color);
  color: var(--primary-color);
  border-radius: 6px; 
  font-family: "Poppins", sans-serif;
  text-align: left; /* Alinha o texto à esquerda */
  padding: 6px 8px;
  border: none; /* Remove todas as bordas */
  border-bottom: 2px solid var(--primary-color); /* Adiciona apenas a borda inferior */
}

.card-title-custom h5 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}